*.swp
*.swo
.cursor/
__pycache__/
output/
venv/
astra_cache/
log/*.log
tmp/
output*/
dbg_hw_conf/
tools/fault_sweep_results*
tools/*.png
tools/*.tsv
tools/*.json
tools/gmap_artifacts/
*.md
*.et
tools/comp/wrapper_outputs/*
memory-summary/
validation_scripts/validation_configs/hardware-config/a100_80GB_uci_*
tools/parallelism_best_runtimes_*
tools/scan_configs.py
tools/add_interm_dim_from_configs.py
